.blog {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blog-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-title hr {
    width: 20%;
    border: none;
    border-radius: 10px;
    height: 5px;
    background: #FED444;
}

.blog-banner {
    width: 100%;
    height: 469px;
}

.blog-content {
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin: 40px auto;
    animation: fadeIn 0.5s;
}
.blog-pagination{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

@media (max-width: 1024px) {
    .blog-banner {
        display: block;
        width: 100%;
        height: 129px;
    }

    .blog-content {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 10px;
    }
}