.contact-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-title hr {
    width: 20%;
    border: none;
    border-radius: 10px;
    height: 5px;
    background: #FED444;
}

.contact-banner {
    width: 100%;
    height: 469px;
}

.contact-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    gap: 20px;

}

.contact-content p {
    max-width: 480px;
}

.contact-content p a {
    text-decoration: none;
    color: #3409df;
}

.contact-right img {
    width: 700px;
    height: 500px;
}

.iframe-google-map {
    width: 650px;
    height: 450px;
}

@media (max-width: 1024px) {
    .contact-container {
        padding-top: 10px;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        gap: 80px;
    }

    .contact-banner {
        display: block;
        width: 100%;
        height: 239px;
    }

    .contact-content {
        margin: 20px auto;
    }
}

@media (max-width: 768px) {
    .contact-container {
        padding-top: 10px;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
        gap: 80px;
    }

    .contact-banner {
        display: block;
        width: 100%;
        height: 129px;
    }

    .contact-left {
        max-width: 430px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .contact-content {
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }


    .iframe-google-map {
        width: 410px;
        height: 400px;
    }

}