.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 10px;
}

.error-icon {
    display: flex;
    justify-content: center;
    width: 100%;
}

.error-icon img {
    width: 380px;
}

.error-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-description h1 {
    position: relative;
    width: max-content;
    color: #3EB8EA;
    font-size: 48px;
    font-weight: 700;
}

.error-description h1::after {
    content: '';
    background: linear-gradient(to right, red, blue);
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.description-ng-scope {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    font-size: 20px;
}

.btn-go-back-home {
    padding-top: 20px;
}

.size-btn {
    width: 226px;
    height: 56px;
    font-size: 26px;
    border-radius: 25px;
    border-color: #3EB8EA;
    color: #3EB8EA;
}

@media (max-width: 1024px) {
    .error {
       display: flex;
       flex-direction: column;
       justify-content: center;
       width: 100%;
       padding-top: 20px;
    }

    .error-icon img {
        width: 280px;
    }

    .error-description {}

    .error-description h1 {
        font-size: 26px;
    }

    .description-ng-scope {
       font-size: 14px;
       max-width: 400px;
    }

    .btn-go-back-home {
        display: flex;
       justify-content: center;
       width: 100%;
    }
    .size-btn {
        width: 206px;
        height: 50px;
        font-size: 24px;
        border-radius: 25px;
        border-color: #3EB8EA;
        color: #3EB8EA;
    }
}