
.motocategory-banner {
    display: block;
    width: 100%;
    height: 469px;
}

.motorcategory-products {
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin: 40px auto;
    animation: fadeIn 0.5s;
}

.motocategory-category-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.motocategory-category-title hr {
    width: 20%;
    border: none;
    border-radius: 10px;
    height: 5px;
    background: #FED444;
}

.motorcategory-pagination {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.motor-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    gap: 20px;
}
.motor-empty-img1{
    width: 265px;
    height: 265px;
}
.motor-empty-description{
    font-size: 24px;
    font-weight: 500;
}
.motor-empty-description-category{
    font-size: 28px;
    font-weight: 600;
    color: #1677FF;
}
@keyframes fadeIn {
    from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
  }
@media (max-width: 1024px) {
    .moto-category{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .motocategory-banner {
        display: block;
        width: 100%;
        height: 129px;
    }
    .motocategory-category-title h1{
        padding-top: 15px;
        font-size: 24px;
    }
    .motorcategory-products{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
        margin: 30px auto;
        gap: 10px;
    }
    .motor-empty {
        width: 100%;
        height: 30vh;
    }
    .motor-empty-img1{
        width: 125px;
        height: 125px;
    }
    .motor-empty-description{
        font-size: 16px;
        font-weight: 500;
    }
    .motor-empty-description-category{
        font-size: 20px;
        font-weight: 600;
        color: #1677FF;
    }
}