.item{
    width: 400px;
    flex: 1;
    display: flex;  
    flex-direction: column;
    border: 1px solid #cdcccc;
    box-shadow: 1px 1px 5px #979595;
    cursor: pointer;
}
.item-link{
    text-decoration: none;
    color: inherit;
}
.item-link img{
    max-width: 400px;
    max-height: 380px;
}
.item_description{
    width: auto;
    height: auto;
    padding: 18px;
}

.item p{
    margin: 6px 0px;

}
.item-price{
    display: flex;
    gap: 20px;
}
.item_name{
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    font-weight: 600;
    box-sizing: border-box;
    cursor: pointer;
}
.item_name:hover{
    color: #FED251;
    transition: 0.3s;
}

.item-price-bike{
    color: #FED251;
    font-size: 30px;
    font-weight: 600;
}
.item-img{
    flex: 1;
    display: flex;
    align-items: center;
}
.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}