.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.imgLogo {
    width: 148px;
    height: 78px;
}

.nav-logo p {
    color: #171717;
    font-size: 28px;
    font-weight: 600;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-select-menu {
    text-decoration: none;
    font-size: 24px;
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.input-search-responsive {
    display: flex;
    align-items: center;
    gap: 45px;
}


.nav-login-cart button:active {
    background: #f3f3f3;
}

.nav-cart-count {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: white;
}

.nav-menu-responsive {
    display: none;
}
.input-search-responsive {
    display: flex;
}
.button-search-responsive {
    display: none;
}

/* CSS ket qua tra ve cua ham search */
.search-item-result {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 400px;
}

.search-item-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-item-img {
    width: 160px;
    height: 120px;
}

.search-item-details {
    display: flex;
    flex-direction: column;
}

.search-item-name {
    font-size: 16px;
    font-weight: 700;
}

.search-item-price {
    font-size: 18px;
    color: #EF4444;
    font-weight: 600;
}

.search-component {
    display: none;
}

@media (max-width: 1024px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-logo {
        display: flex;
        align-items: center;
    }

    .imgLogo {
        width: 108px;
        height: 58px;
    }

    .nav-logo p {
        display: none;
    }

    .input-search-responsive {
        display: none;
    }

    .nav-select-menu {
        display: none;

    }

    .nav-menu-responsive {
        display: contents;
        width: 100%;
    }

    .input-search-responsive {
        display: none;
    }
    .button-search-responsive {
        display: contents;
    }

    /* CSS ket qua tra ve cua ham search */
    .search-item-result {
        width: 100%;
    }

    .search-item-link {
        height: 100px;
        width: 280px;
    }

    .search-item-img {
        width: 80px;
        height: 60px;
        object-fit: cover;
    }

    .search-item-details {
        display: flex;
        flex-direction: column;
    }

    .search-component {
        display: flex;
    }

}