.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 0 16px 0;
    box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-logo-item {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.imgLogo {
    width: 148px;
    height: 78px;
}

.nav-logo-item p {
    color: #171717;
    font-size: 24px;
    font-weight: 600;
}

.nav-menu-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-select-menu {
    display: flex !important;
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    border: none;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

.input-search-responsive {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-menu-responsive {
    display: none;
}

.button-search-responsive {
    display: none;
}

/* CSS ket qua tra ve cua ham search */
.search-item-result {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 400px;
}

.search-item-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-item-img {
    width: 160px;
    height: 120px;
}

.search-item-details {
    display: flex;
    flex-direction: column;
}

.search-item-name {
    font-size: 16px;
    font-weight: 700;
}

.search-item-price {
    font-size: 18px;
    color: #EF4444;
    font-weight: 600;
}

.search-component {
    display: none;
}

@media (max-width: 1024px) {
    .navbar {
        display: flex;
        justify-content: space-around;
    }

    .nav-logo {
        width: 60%;
        display: flex;
        justify-content: center;
    }

    .nav-logo-item {
        display: flex;
        align-items: center;
    }

    .imgLogo {
        width: 108px;
        height: 58px;
    }
    .nav-logo-item p {
        display: none;
    }

    .nav-select-menu {
        display: none;
    }
    .nav-menu-item{
        display: none;
    }
    .nav-menu-responsive {
        display: contents;
        width: 100%;
    }
    .nav-menu-responsive-drawer{
        width: 70% !important; 
    }
    .input-search-responsive {
        display: none;
    }

    .button-search-responsive {
        display: contents;
    }

    /* CSS ket qua tra ve cua ham search */
    .search-item-result {
        width: 100%;
    }

    .search-item-link {
        height: 100px;
        width: 280px;
    }

    .search-item-img {
        width: 80px;
        height: 60px;
        object-fit: cover;
    }

    .search-item-details {
        display: flex;
        flex-direction: column;
    }

    .search-component {
        display: flex;
    }

}

@media screen and (min-width: 1024px) and (max-width: 1180px) {
    .search-input {
        width: 200px;
    }

    .nav-logo p {
        font-size: 20px;
    }

    .nav-select-menu {
        font-size: 18px;
        width: 100%;
    }
    
}
