.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    outline: none;
    font-size: 16px;
  }
  
  .search-input:focus {
    border-color: #888;
  }
  .search-button{
    border: none;
    border-radius: 0px;
    height: 41px;
    font-size: 18px;
  }

  .search-button:hover {
    background-color: #0056b3;
  }
  