.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    max-width: 1240px;
    gap: 20px;
    margin: 40px auto;
    animation: fadeIn 0.5s;
}

.blog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;

}

.blog-content-img {
    max-width: 380px;
    max-height: 280px;
}

.blog-content-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #252525;
    padding: 10px;
}

.blog-content-description-title {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 600;
    font-family: poppins;
    box-sizing: border-box;
    cursor: pointer;
    color: #FFFFFF;
}

.blog-content-description-description {
   
    width: 100%;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    cursor: pointer;
    color: #FFFFFF;


}

@media (max-width: 1024px) {
    .blog-content {
        max-width: 226px;

    }

    .blog-content-img {
        max-width: 180px;
        max-height: 180px;
    }
}