.popular{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%; 
    justify-content: space-around;
}
.popular-item{
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 40px auto;
    gap: 20px;
    animation: fadeIn 0.5s;
}
.popular h1{
    padding-top: 30px;
    color: #383838;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 50%;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
  @keyframes fadeIn {
    from {
        opacity: 0;
      }
    
      to {
        opacity: 1;
      }
  }
@media (max-width: 1024px) {
    .popular h1{
        counter-reset: #171717;
        font-size: 36px;
        font-weight: 600;
    }
    .popular-item{
        max-width: 1024px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        margin: 0 auto;
        gap: 15px;
    }
}
@media (max-width: 768px) {
    .popular h1{
        counter-reset: #171717;
        font-size: 24px;
        font-weight: 600;
    }
    .popular-item{
        max-width: 430px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        margin: 0 auto;
        gap: 15px;
    }
}