
.blog-display-container{
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-display-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.blog-display-title hr{
    width: 20%;
    border: none;
    border-radius: 10px;
    height: 5px;
    background: #FED444;
}
.blog-display-content{
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-top: 40px;
    padding: 16px;
}


@media (max-width: 1024px) {
    .blog-display-container{
       margin-top: 10px;
    }
    .blog-display-title h1{
        display: flex;
        text-align: center;
        padding: 0 10px 0 10px;
        font-size: 20px;
    }
    .blog-display-content{
        margin-top: 20px;
    }
}