.breadcrum{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 60px;
    text-transform: capitalize;
}
.breadcrum a{
    text-decoration: none;
    color: #515151;
}
.breadcrum a:hover{
    color: #aeaeae;
}
@media (max-width: 1024px) {
    .breadcrum{
        margin: 5px 10px;
        text-transform: capitalize;
        font-size: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .breadcrum span{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}