.popular{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%; 
    justify-content: space-around;
}
.popular-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    margin-top: 50px;
    gap: 30px;
    padding: 30px 0 30px 0;
}
.popular h1{
    counter-reset: #171717;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 50%;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}